@model IEnumerable<Eterna.ViewModels.Tag>

@{
    ViewBag.sayfaBaslik = "Etiket Yönetimi - Tüm Etiketler";
    ViewBag.tabloBaslik = "Tüm Etiketler";
}
<p>
    <a href="@Url.Action("Create","Tags")" class="btn btn-success">Yeni Kayıt</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
