@model IEnumerable<Eterna.ViewModels.Blog>
@{
    ViewBag.sayfaBaslik = "Blog Yönetimi - Tüm Bloglar";
    ViewBag.tabloBaslik = "Tüm Bloglar";
}
<p>
    <a href="@Url.Action("Create","Blogs")" class="btn btn-success">Yeni Kayıt</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Write)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Write)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
